.todo-item__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.7rem 0.6rem;
  margin: 0.5rem 1rem;
  background-color: var(--secondary-color);
  border-radius: 3px;
  box-shadow: 2px 2px 2px var(--tertiary-color);
  animation: todoItemAnimate 0.9s linear;
}

@keyframes todoItemAnimate {
  0% {
    opacity: 0.5;
  }

  40% {
    opacity: 0.7;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.9;
  }
}

.todo-item__name {
  color: rgba(40, 40, 40, 0.9);
}

.font {
  margin: 0 0.2rem;
  cursor: pointer;
  color: var(--tertiary-color);
}
